@font-face {
    font-family: 'iransans';
    src:
        url('/fonts/IRANSansWeb_Light.eot') format('eot'),
        url('/fonts/IRANSansWeb_Light.woff') format('woff'),
        url('/fonts/IRANSansWeb_Light.woff2') format('woff2'),
        url('/fonts/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
    font-family: 'iransans-bold';
    src:
        url('/fonts/IRANSansWeb_Bold.eot') format('eot'),
        url('/fonts/IRANSansWeb_Bold.woff') format('woff'),
        url('/fonts/IRANSansWeb_Bold.woff2') format('woff2'),
        url('/fonts/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'poetsen';
    src: url('/fonts/PoetsenOne-Regular.ttf') format(truetype);
}